body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}

.container{
  border: solid black 2px;
  height: 500px;
  width: 900px;
  margin-top: 60px;
background-color: whitesmoke;
}

.banner{
    background-color:  hsl(188deg 78% 41%);
    width: 900px;
    height: 100px;
}

.user{
    height: 100px;
    border: solid white 5px;
    border-radius: 100%;
    position: absolute;
    top: 110px;
    margin-left: 40px;
}

h1{
    margin-top: 60px;
    margin-left: 40px;
}

.map{
    height: 30px;
    margin-left: 40px;
}

h3{
display: inline-block;
}


li{
    display: inline-block;
}

p{
    margin-left: 40px;
}

.gear{
    height: 30px;
    margin-left: 40px;
}

.edit{
    display: inline-block;
    margin-left: 10px;
}