*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container{
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 120px;
}

#navbar{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

#leaf{
    background-color: #30d6bc;
}
#shop{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

#search{
    height: 30px;
    width: 400px;
    border-radius: 15px;
}

#glass{
    height: 20px;
    position: absolute;
    right: 300px;
    top: 25px
}

#cart{
    height: 50px;
}

#subnav{
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mainBody{
display: flex;
}

h1{
    text-align: center;
}

.big{
    color: white;
    background-color: #30d6bc;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    height: 220px;
    padding-top: 30px;
}

h2{
    align-items: center;
    justify-content: center;
}

.small{
font-size: medium;
display: flex;
background-color: #30d6bc;
color: white;
}

.bigpic{ 
    display: flex;
    height: 250px;
    margin-top: 10px;
}

#right{
    margin-left: 30px;
    margin-top: 10px;
}

#aloe{
    height: 150px;
    margin-bottom: 30px;
}


.sooth{
    background-color: #30d6bc;
    color: white;
    text-align: center;
    font-size: medium;
}

#subbar{
    background-color: #aae8d8;
    margin-top: 30px;
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.smallpic{
    height:100px;
    margin-bottom: 10px;
}

.subpics{
 text-align: center;
}

#alertbox{
    display: flex;
    border: solid black 2px;
    margin-bottom: 10px;
    padding: 15px;
    align-items: center;
}

span{
    color: blue;
    text-decoration: underline;
}

button{
    background-color: #30d6bc;
    color: white;
    font-weight: bold;
    width: 75px;
    height: 30px;
    box-shadow: 3px 3px black;
}