.backer{
    background-color: green;
    padding-top: 20px;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    padding-left: 60px;
    padding-right:90px;
    padding-bottom: 30px;
}

h1{
    display:inline-block;
    background-color: yellow;
    margin: 50px;
}

.link {
    
    margin-left: 600px;
}

.header{
    background-color: yellow;
margin-right: 170px;
margin-top: 50px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 15px;}

h2{
    display: inline-block;
    text-align: center;
    background-color: blue;
    margin-top: 50px;
    padding-left: 150px;
    padding-right:150px;    
    padding-bottom: 300px;
    border-radius: 15px;
}

.box2{
    margin-left: 300px;
}

