<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Dojos</title>
</head>
<body>
    <div>
        <h1>New Dojo</h1>
        <form action="/new_dojo" method = 'POST'>
            <label for="city">City</label>
            <input type="text" name = name>
            <input type="submit" value = 'Create'>
        </form>
    </div>
    <div>
        <h1>All Current Dojos</h1>
        {%for city in dojos%}
            <ul>
                <a href="/location/{{city.id}}">{{city.name}}</a>
            </ul>
            {% endfor %}
        <a href="/new_ninja">Add Ninja</a>
    </div>
</body>
</html>