* {
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;

}

#header {
    background-color: red;
    align-items: center;
    margin-bottom: 20px;

}

h1 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;

}

table td {
    height: 50px;
    width: 50px;
}

.color0 {
    background-color: red;
}

.color1{
    background-color: black;
}